body {
    background-color: #60A1E1;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    color: #000;
    font-size: 16px;
}

html, body, article, section, iframe, .my-page {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

article {
    display: block;
    position: relative;
    padding: 2% 20%;
    z-index: 9999;
}

section {
    background-color: white;
    overflow-y: auto;
}

canvas {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

p {
    margin: 0.61em 0;
    padding: 0;
    font-size: 1.12em;
}

iframe {
    margin: auto;
    height: 100%;
    display: block;
    position: relative;
}

bold {
    font-weight: bolder;
}

.my-page {
    overflow: hidden;
    box-shadow: 1em 1em 1em #000;
}

.description {
    height: auto;
    padding: 0.61em 2em;
    background-color: #fff;
    color: rgb(25, 53, 73);
}

.frame-container {
    height: 1060px !important;
}

/* media queries here */
@media (min-width: 1400px) {
    article {
        padding: 6% 24%;
    }
}

@media (max-width: 960px) {
    article {
        padding: 2% 10%;
    }

    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    article {
        padding: 0.6% 4%;
    }

    body {
        font-size: 12px;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    body {
        font-size: 32px;
    }

    article {
        padding: 0.6% 4%;
    }

    .frame-container {
        height: 2060px !important;
    }
}

@media (orientation: landscape), (min-resolution: 192dpi) {
    .my-page {
        overflow: scroll;
    }
}
